{% load bootstrap4 %}
{% load staticfiles%}

{% load bootstrap4 %}
{% load staticfiles%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {% if title %}
    <title>Gallery - {{title}}</title>
    {% else %}
    <title> Gallery </title>
    {% endif %}

    {# block styles #}
    {# bootstrap_css #}
    <!-- <link rel="stylesheet" href="{% static 'css/basenews.css' %}"> -->
    {# endblock #}

</head>

<body>
    {% include "navbar.html" %}

    {% block content %}
    <!-- <h1 class="text-center">IT works</h1> -->
    {%endblock%}


    {%  block scripts %}
    {% bootstrap_javascript jquery='full' %}

    {% endblock %}

</body>

</html>